<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Informations de libraire</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
</head>

<body class="container">
    <th:block th:insert="~{fragments/header::header}"></th:block>
    <h1 th:text="'Bienvenue ' + ${loginLibraire}"></h1><br/>

    <a th:href="@{'/libraire/creerOuvrage'}">Créer un ouvrage</a><br/>
    <a th:href="@{'/libraire/creerExemplaire'}">Créer un exemplaire</a><br/>

    <h2>Liste des ouvrages en vente</h2><br/>
    <table>
        <thead>
        <tr>
            <th class="espace-entre-colonnes">Id Ouvrage</th>
            <th class="espace-entre-colonnes">Titre</th>
            <th class="espace-entre-colonnes">Auteur(s)</th>
            <th class="espace-entre-colonnes">Editeur</th>
            <th class="espace-entre-colonnes">Nombre de pages</th>
            <th class="espace-entre-colonnes">Categorie(s)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ouvrage : ${ouvrages}">
            <td th:text="${ouvrage.getIdOuvrage()}"></td>
            <td th:text="${ouvrage.getTitre()}"></td>
            <td>
                <div th:each="auteur : ${ouvrage.getAuteurs()}" th:text="${auteur.getPrenom() + ' ' + auteur.getNom()}"><br/></div>
            </td>
            <td th:text="${ouvrage.getEditeur()}"></td>
            <td th:text="${ouvrage.getNbPages()}"></td>
            <td>
                <div th:each="categorie : ${ouvrage.getCategories()}" th:text="${categorie}"><br/></div>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <h2>Liste des exemplaires en vente</h2>
    <table>
        <thead>
        <tr>
            <th class="espace-entre-colonnes">Id Exemplaire</th>
            <th class="espace-entre-colonnes">Ouvrage</th>
            <th class="espace-entre-colonnes">Etat</th>
            <th class="espace-entre-colonnes">Prix de vente</th>
            <th class="espace-entre-colonnes">Frais de port</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="exemplaire : ${exemplaires}">
            <td th:text="${exemplaire.getIdExemplaire()}"></td>
            <td th:text="${exemplaire.getOuvrage().getTitre()}"></td>
            <td th:text="${exemplaire.getEtat()}"></td>
            <td>
                <span th:text="${exemplaire.getPrixVente()}"></span>
                <form th:action="@{'/libraire/setPrixVente/' + ${exemplaire.getIdExemplaire()}}" th:method="post" style="display: inline;">
                    <input type="text" name="prixVente" pattern="[0-9]+([\.,][0-9]+)?" title="Veuillez entrer un nombre décimal." class="form-control" th:value="${exemplaire.getPrixVente()}">
                    <button type="submit" class="btn btn-primary">Modifier</button>
                </form>
            </td>

            <td>
                <span th:text="${exemplaire.getFraisPort()}"></span>
                <form th:action="@{'/libraire/setFraisPort/' + ${exemplaire.getIdExemplaire()}}" th:method="post" style="display: inline;">
                    <input type="text" name="fraisPort" pattern="[0-9]+([\.,][0-9]+)?" title="Veuillez entrer un nombre décimal." class="form-control" th:value="${exemplaire.getFraisPort()}">
                    <button type="submit" class="btn btn-primary">Modifier</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <h2>Liste des exemplaires commandés</h2>

    <table>
        <thead>
        <tr>
            <th class="espace-entre-colonnes">Id Exemplaire</th>
            <th class="espace-entre-colonnes">Ouvrage</th>
            <th class="espace-entre-colonnes">Etat</th>
            <th class="espace-entre-colonnes">Prix de vente</th>
            <th class="espace-entre-colonnes">Frais de port</th>
            <th class="espace-entre-colonnes">Avis</th>
            <th class="espace-entre-colonnes">Etat Livraison</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="exemplaire : ${exemplairesCommandes}">
            <td th:text="${exemplaire.getIdExemplaire()}"></td>
            <td th:text="${exemplaire.getOuvrage().getTitre()}"></td>
            <td th:text="${exemplaire.getEtat()}"></td>
            <td th:text="${exemplaire.getPrixVente()}"></td>
            <td th:text="${exemplaire.getFraisPort()}"></td>
            <td th:if="${#strings.isEmpty(exemplaire.getAvis())}">
                <div>Pas d'avis</div>
            </td>
            <td th:unless="${#strings.isEmpty(exemplaire.getAvis())}" th:text="'note : ' + ${exemplaire.getAvis().getNote()} + '/5' + ' || commentaire : ' + ${exemplaire.getAvis().getCommentaire()}"></td>
            <td>
                <form th:action="@{'/libraire/exemplaire/' + ${exemplaire.getIdExemplaire()} + '/updateEtatLivraison'}" th:method="post" style="display: inline;">
                    <label for="etatLivraisonExemplaire" ></label>
                    <select id="etatLivraisonExemplaire" name="etatLivraisonExemplaire" class="form-select">
                        <option th:each="etat : ${etatLivraisonExemplaire}" th:value="${etat}" th:text="${etat}" th:selected="${etat == exemplaire.getEtatLivraisonExemplaire()}"></option>
                    </select>
                    <button type="submit" class="btn btn-primary">Modifier</button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
    <br/>
    <h4 th:text="'Note moyenne : ' + ${noteMoyenne} + '/5'"></h4>

    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>