<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donner son avis sur un exemplaire</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
</head>
<body class="container">
    <h1>Créer un avis</h1><br/><br/>
        <form id="myForm" th:action="@{'/client/exemplaire/' + ${exemplaireId} + '/creerAvis'}" th:object="${avis}" method="post">
            <div>
                <label for="note" class="form-label">Note</label>
                <input type="number" id="note" class="form-control" min="0" max="5" th:field="*{note}"/><br/>
            </div>
            <br/>
            <div>
                <label for="commentaire" class="form-label">Commentaire</label>
                <input type="text" id="commentaire" class="form-control" th:field="*{commentaire}"/><br/>
            </div>

            <button type="submit" class="btn btn-primary">Créer l'avis</button>
        </form>

        <br/>
        <a th:href="@{'/client'}">Retour sur la page d'accueil</a>

    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>