<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookZone</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
</head>
<body class="container">
    <th:block th:insert="~{fragments/header::header}"></th:block>

    <h1 th:text="'Exemplaire : ' + ${exemplaire.getOuvrage().getTitre()}"></h1>

    <h2>Auteur(s)</h2>
    <ul>
        <li th:each="auteur : ${exemplaire.getOuvrage().getAuteurs()}" th:text="${auteur.getPrenom() + ' ' + auteur.getNom()}"></li>
    </ul>

    <h2>Nombre de pages</h2>
    <p th:text="${exemplaire.getOuvrage().getNbPages()}"></p>

    <h2>Etat</h2>
    <p th:text="${exemplaire.getEtat()}"></p>

    <h2>Prix de vente</h2>
    <p th:text="${exemplaire.getPrixVente()} + ' €'"></p>

    <h2>Catégories</h2>
    <ul>
        <li th:each="categorie : ${exemplaire.getOuvrage().getCategories()}" th:text="${categorie}"></li>
    </ul>

    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>