<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookZone</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
</head>
<body>
    <h1>Bienvenue sur BookZone</h1>

    <!-- Formulaire de recherche de livres -->

    <!-- Affichage des livres correspondants à la recherche -->
    <div th:each="ouvrage : ${ouvrages}">
        <h2 th:text="${ouvrage.getTitre()}"></h2>
        <ul>
            <li th:each="auteur : ${ouvrage.getAuteurs()}" th:text="${auteur.getPrenom() + ' ' + auteur.getNom()}"></li>
        </ul>
    </div>

    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>