<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>exemplaire-info</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
</head>

<body class="container">

    <h1>Détail de l'exemplaire</h1><br/>

        <table>
            <thead>
                <tr>
                    <th class="espace-entre-colonnes">Id Exemplaire</th>
                    <th class="espace-entre-colonnes">Ouvrage</th>
                    <th class="espace-entre-colonnes">Etat</th>
                    <th class="espace-entre-colonnes">Prix Vente</th>
                    <th class="espace-entre-colonnes">Frais Port</th>
                    <th class="espace-entre-colonnes">Vendeur</th>
                    <th class="espace-entre-colonnes">Avis</th>
                </tr>
            </thead>
            <tbody>
                <td th:text="${exemplaire.getIdExemplaire()}"></td>
                <td th:text="${exemplaire.getOuvrage().getTitre()}"></td>
                <td th:text="${exemplaire.getEtat()}"></td>
                <td th:text="${exemplaire.getPrixVente()}"></td>
                <td th:text="${exemplaire.getFraisPort()}"></td>
                <td th:text="${exemplaire.getVendeur().getLogin()}"></td>
                <td th:if="${#strings.isEmpty(exemplaire.getAvis())}">
                    <a th:href="@{'/client/' + ${loginClient} + '/exemplaire/'+ ${exemplaire.getIdExemplaire()} + '/creerAvis'}">Ajouter un avis</a><br/>
                </td>
                <td th:unless="${#strings.isEmpty(exemplaire.getAvis())}" th:text="'note : ' + ${exemplaire.getAvis().getNote()} + '/5' + ' || commentaire : ' + ${exemplaire.getAvis().getCommentaire()}"></td>
            </tbody>
        </table>
    <br/>
    <a th:href="@{'/client/'+ ${loginClient}}">Retour sur la page d'accueil</a>

    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>