<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookZone</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
</head>
<body class="container">
    <th:block th:insert="~{fragments/header::header}"></th:block>
    <h1 th:text="'Ouvrage : ' + ${ouvrage.getTitre()}"></h1>

    <!-- <div>
        <h2>Auteur(s)</h2>
        <ul>
            <li th:each="auteur : ${ouvrage.getAuteurs()}" th:text="${auteur.getPrenom() + ' ' + auteur.getNom()}"></li>
        </ul>
    </div> -->

    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>