<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
</head>
<body class="container">
    <h1>Créer un compte</h1>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <div>
            <label for="prenom" class="form-label">Prénom</label>:
            <input type="text" id="prenom" class="form-control" th:field="*{prenom}"/> <br />
        </div>
        <div>
            <label for="nom" class="form-label">Nom de famille</label>:
            <input type="text" id="nom" class="form-control" th:field="*{nom}" /> <br />
        </div>
        <div>
            <label for="mail" class="form-label">Adresse Email</label>:
            <input type="email" id="mail" class="form-control" th:field="*{mail}" /> <br />
        </div>
        <div>
            <label for="login" class="form-label">Nom d'utilisateur</label>
            <input type="text" id="login" class="form-control" th:field="*{login}" /> <br />
        </div>
        <div>
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" id="password" class="form-control" th:field="*{password}" /> <br />
        </div>
<!--        <div>-->
<!--            <label for="password2">Confirmer le mot de passe</label>-->
<!--            <input type="password" id="password2" th:field="*{password2}" /> <br />-->
<!--        </div>-->
        <div>
            <label for="adresse" class="form-label">Adresse</label>
            <input type="text" id="adresse" class="form-control" th:field="*{adresse}" /> <br />
        </div>
        <div class="form-check">
            <label for="libraire" class="form-check-label">Je suis un libraire.</label>
            <input type="checkbox" id="libraire" class="form-check-input" th:field="*{libraire}" /> <br />
        </div>
        <button type="submit" class="btn btn-primary">S'enregistrer</button>
    </form>

    <div>
        Vous avez déjà un compte ? Cliquez sur ce bouton :
        <a th:href="@{/login}">Se connecter.</a>
    </div>

    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>