<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Hello Login</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
</head>
<body class="container">
    <th:block th:insert="~{fragments/header::header}"></th:block>
    <h1>Hello, world!</h1>

    <p>
        Tu es connecté en tant que "<span sec:authentication="name"></span>" !
    </p>

    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>